body {
  font-family: "나눔 고딕", "돋움", sans-serif;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  color: #167ef8;
}
.text_filed {
  width: 100px;
}
.org_price {
  color: #666666;
  text-decoration: line-through;
}
.evt_price {
  color: #fa7;
  font-weight: bold;
}
